* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 240px;
    height: 320px;
    overflow: hidden;
    background-color: #000;
    font-family: Arial, sans-serif;
}

#game-container {
    width: 240px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

canvas {
    display: block;
    width: 240px !important;
    height: 320px !important;
}

/* Prevent text selection on KaiOS */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
